h1 This is a sample __pronoun__ view

p you can build out more stuff here.

p look in the /public/app/controllers/__name__-controllers.js to find this message:


ul
  li(ng-repeat="__name__ in __name__s") 
    a(ui-sref="__name__.show({ itemId: __name__.id })")
      {{__name__.title }}