section(yt-container)
  h1 This is a sample __Proper__ view

  p you can build out more stuff here.

  ul
    li(ng-repeat="__name__ in __name__s") 
      a(ui-sref="__name__.show({ __name__Id: __name__.id })")
        {{__name__.title }}