section(yt-container)
  h1 __Proper__s view

  p you can build out more stuff here.

  button(yt-btn ui-sref="__name__.new") New __Proper__

  ul
    li(ng-repeat="__name__ in __name__s") 
      a(ui-sref="__name__.show({ __name__Id: __name__._id })")
        {{__name__.title }}